<<<<<<< HEAD
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
#recipeframe{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.recipeItems{
  flex: 1;
  margin-left: 20px;
}
.categoryBtns{
  margin-left: 10px;
  width: 85px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
}


#loggedinViewH1{
  text-align: center;
>>>>>>> 06c62154001dc329871c58bc48fe46a5a3367a42
}
