/*background borrowed from: https://dribbble.com/shots/3351201-Food-Bev-Pattern  */

body {
  background: url(./Images/foodandbev.png);
  background-repeat: repeat;
}

#recipeframe{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.recipeItems{
  flex: 1;
  margin-left: 20px;
}
/* Welcome Screen Log Style */
#welcome-container{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 80px;
  width: auto;
  height: 400px;
  margin-top: 10%;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

#foody-text {
  font-size: 100px;
  margin-bottom: 45px;
}

#welcome-text {
  color: #F3754D;
  font-size: 40px;
}
/* #chefhat{
  width: 220px;
  height: 200px;
  background: url('./Images/chefhat2.png');
  background-size:cover;
  position: absolute;
  top:23%;
  left: 55%;
  z-index: -1
} */
/* .loginSignup{
  margin-left: 75%;
  margin-top: 50px;
  width:250px;
} */


.loginSignup {
  margin: 0 auto;
}
