/*Login Page  */

div {
font-family: 'Comfortaa', cursive;
}

h1 {
font-size: 1rem;
}

.logged-out-view {
  text-align: center;
  margin-top: 50px;
}

/* Sign Up Page */

.loggedoutview-button {
  margin: 5px;
}
.other-page {
  padding: 40px;

}

/* Form */

form {
  margin-top: 30px;
}

#login-signup-form {
  margin: 0 auto;
  max-width: 600px;
  background: rgba(255, 255, 255, .6);
}

#login-signup-submit {
margin-bottom: 30px;
}
